ALPACA_API_KEY=PKY3OMICQ3KMO6XDSVHGYXE4IB
ALPACA_SECRET_KEY=BxqXHiSujnbLK8j3wVZNmzLz2JWo4iHUzhdAJBwX4keU
ALPACA_BASE_URL=https://paper-api.alpaca.markets
ALPACA_DATA_URL=https://data.alpaca.markets/v2
