ALPACA_API_KEY=PK2E4VA53EQDOPIO5OV6SPYEGC
ALPACA_SECRET_KEY=3fH3VrZWGQ5dDZ58JNSf1qQqe3MPkSmKYoNYW5iiV7WV
ALPACA_BASE_URL=https://paper-api.alpaca.markets
ALPACA_DATA_URL=https://data.alpaca.markets/v2
